<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>后台管理</title>
		<link rel="stylesheet" href="../static/lib/layui/css/layui.css">
		<link rel="stylesheet" href="../static/css/admin.css">
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<!--头部信息，-->
			<div class="layui-header">
				<div class="layui-logo">后台管理</div>
				<!-- 左侧导航栏切换，头部区域（可配合layui已有的水平导航） -->
				<ul class="layui-nav layui-layout-left" id="checkout">
					<li id="role_1" class="layui-nav-item" style="display: none" data-nav="1"><a href="javascript:;">生产厂商角色</a></li>
					<li id="role_2" class="layui-nav-item" style="display: none" data-nav="2"><a href="javascript:;">物流角色</a></li>
					<li id="role_3" class="layui-nav-item" style="display: none" data-nav="3"><a href="javascript:;">仓库角色</a></li>
					<li id="role_4" class="layui-nav-item" style="display: none" data-nav="4"><a href="javascript:;">管理员角色</a></li>
				</ul>
				<!--基本资料-->
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="../static/images/logins.png" class="layui-nav-img">{{username}}<span style="display:none" id="role">{{role}}</span>
						</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:;">基本资料</a></dd>
							<!--<dd><a href="javascript:;">安全设置</a></dd>-->
							<dd><a href="login.html">退出登录</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="">首页</a></li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll" id="layui_nav_left_1">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree"  lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">商品管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="all_commodities_list.html">所有商品</a></dd>
								<dd><a href="javascript:;" data-url="commodities_making_list.html">生产中商品</a></dd>
								<dd><a href="javascript:;" data-url="commodities_needTransport_list.html">待运输商品</a></dd>
								<dd><a href="javascript:;" onclick="execute_open('添加商品', 'add_commodity_operation.html', '1000', '500')">添加商品</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">物流管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="logistics.html">查看物流</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-side-scroll" id="layui_nav_left_2">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree"  lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">商品管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="commodities_needTransport_list.html">待运输商品</a></dd>
								<dd><a href="javascript:;" data-url="commodities_transporting_list.html">运输中商品</a></dd>
								<dd><a href="javascript:;" data-url="commodities_arrived_list.html">已到达商品</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">物流管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="logistics.html">查看物流</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-side-scroll" id="layui_nav_left_3">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree"  lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">商品管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="commodities_list.html?status=4">已到达商品</a></dd>
								<dd><a href="javascript:;" data-url="commodities_inWarehouse_list.html">已入库商品</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;">物流管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="logistics.html">查看物流</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-side-scroll" id="layui_nav_left_4">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree"  lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;">用户管理</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;" data-url="role_list.html?id=1">生产厂商</a></dd>
								<dd><a href="javascript:;" data-url="role_list.html?id=2">物流人员</a></dd>
								<dd><a href="javascript:;" data-url="role_list.html?id=3">仓库管理人员</a></dd>
								<dd><a href="javascript:;" data-url="role_list.html?id=4">管理员</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-body" id="LAY_app_body">
				<div class="layui-tabsbody-item layui-show">
					<iframe src="console.html" frameborder="0" class="layui-iframe" style="padding: 15px;"></iframe>
				</div>
			</div>
			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© 后台管理
			</div>
		</div>
	</body>
</html>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/lib/layui/layui.js"></script>
<script src="../static/js/admin.js"></script>

