<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../static/lib/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../static/css/admin.css" media="all">
	</head>
	<body>
        <div class="layui-fluid">
			<div class="layui-col-md12">
					<div class="layui-form-item">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-inline layer-inputs">
							<input type="text" value="" readonly="readonly" id="username_input"  placeholder="请输入用户名称" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">密码</label>
						<div class="layui-input-inline layer-inputs">
							<input type="text" value="" readonly="readonly" id="password_input"  placeholder="******" class="layui-input">
						</div>
						<a class="layui-form-mid layui-word-aux" id="change_psw">修改密码</a>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-inline layer-inputs">
							<input type="text" value="" id="email_input"  placeholder="请输入邮箱" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-inline layer-inputs">
							<select  id="gender_input"  style="width: 190px;height: 40px">
								<option value="1" selected="selected">男</option>
								<option value="2">女</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">类别</label>
						<div class="layui-input-inline layer-inputs">
							<input type="text" value="" readonly="readonly" id="role_input"  placeholder="请输入类别" class="layui-input">
						</div>
					</div>
					<div class="layui-form2-item"  style="margin-left: 50px;">
						<a  href="javascript:;" class="layui-btn" id="update_personal" ><i class="layui-icon layui-icon-form"></i>修改</a>
					</div>
			</div>
		</div>
    </body>
</html>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/lib/layui/layui.js"></script>
<script src="../static/js/admin.js"></script>
<script src="../static/js/administrator.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/info_load.js"></script>
<script src="../static/js/npwd_button.js"></script>
<script src="../static/js/change_psw.js"></script>