<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../static/css/admin.css" media="all">
	</head>
	<body>
        <div class="layui-fluid">
			<div class="layui-col-md12">
				<form class="layui-form layui-form-pane" action="" id="frm-reg" >
					<div class="layui-form-item">
						<label class="layui-form-label">角色名称</label>
						<div class="layui-input-inline layer-inputs">
							<input type="text" name="name" id="name" value="" placeholder="请输入角色名称" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux">请输入角色名称</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline layer-inputs">
							<input type="radio" name="status" value="0" title="显示" checked="checked">
							<input type="radio" name="status" value="1" title="隐藏">
						</div>
					</div>
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
						<legend>角色权限</legend>
					</fieldset>
					<div id="auth_list" class="demo-tree-more"></div>
					<div class="layui-form-item" style="margin-left: 50px;">
						<input type="hidden" name="id" id="id" value="">
						<input type="hidden" name="operation_url" id="operation_url" value="{:url('IstratorRole/operation')}">
						<button class="layui-btn" id="execute" lay-submit="execute" lay-filter="execute"><i class="layui-icon layui-icon-form"></i>保存</button>
					</div>
				</form>
			</div>
		</div>	
    </body>
</html>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/js/admin.js"></script>
<script>
layui.use(['tree', 'util'], function(){
	var tree = layui.tree,
		layer = layui.layer,
		util = layui.util;
		var data1 = [{
    title: '江西'
    ,id: 1
    ,children: [{
      title: '南昌'
      ,id: 1000
	  ,checked: true
      ,children: [{
        title: '青山湖区'
        ,id: 10001
      },{
        title: '高新区'
        ,id: 10002
      }]
    },{
      title: '九江'
      ,id: 1001
    },{
      title: '赣州'
      ,id: 1002
    }]
  },{
    title: '广西'
    ,id: 2
    ,children: [{
      title: '南宁'
      ,id: 2000
    },{
      title: '桂林'
      ,id: 2001
    }]
  },{
    title: '陕西'
    ,id: 3
    ,children: [{
      title: '西安'
      ,id: 3000
    },{
      title: '延安'
      ,id: 3001
    }]
  }]
	tree.render({
		elem: '#auth_list',
		data: data1,
		showLine: false,
		showCheckbox: true
	});
  
  
  
})
</script>